.container {
  background-color: white;
  height: 98vh;
  width: 99vw;
  display: grid;
  // grid-template-columns: 15px 15px 15px;
  // grid-template-rows: 15px 15px 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;

  justify-content: center; // start, end, center, strtech, space-between, space-around
  align-content: center; // start, end, center, strtech, space-between, space-around

  justify-items: center; // start, end, center, stretch
  align-items: center; // start, end, center, stretch

  div.item {
    background-color: green;
    height: 40%;
    width: 40%;
  }
  
  div.self {
    justify-self: end;
    align-self: end;
  }

}

/* *--- Alinhamentos ---* */

/*

>> justify e align
As proriedades "justify" alinham na horizontal (eixo x) enquanto 
as "align" no eixo vertical(eixo y).container

Existem 6 propriedades para alinhamento

 > justify-content
 > justify-items
 > justify-self

 > align-content
 > align-items
 > align-self


*/


/*

 * --- Alinhamentos - Contents --- *

  >>> justify-content e align-content
    Alinham o próprio grid relativo ao espaço fora do grid.
    São raramentes usadas pois seu uso só se faz necessário caso o grid
    seja menor que a área definida.

*/


/*

 * --- Alinhamentos - Items --- *

  >>> justify-items e align-items
    Permitem quem os itens do grid sejam alinhados em qualquer espaço disponível 
    na célula que ele estiver.

*/


/*

 * --- Alinhamentos - Self --- *

  >>> justify-self e align-self
    Faz exatamente a mesma coisa que justify/align-items, porém ao contrários destes, 
    é aplicado nos itens do grid e não no contâiner.

*/